@if (User.Identity?.IsAuthenticated ?? false)
{
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle"></i> @User.Identity.Name
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" asp-controller="Profile" asp-action="Index"><i class="bi bi-person"></i> Profili</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <form asp-area="Identity" asp-page="/Account/Logout" method="post">
                   
                        <button type="submit" class="dropdown-item text-danger"><i class="bi bi-box-arrow-right"></i> Dil</button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register"><i class="bi bi-person-plus"></i> Regjistrohu</a></li>
        <li class="nav-item"><a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login"><i class="bi bi-box-arrow-in-right"></i> Kyçu</a></li>
    </ul>
}